<!-- views/forum.ejs -->
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/todostyle.css" >
</head>
<body>
<div id="forum-container">
    <h1>Форуми</h1>

    <!-- Перелік тем -->
    <ul>
        <% topics.forEach(topic => { %>
            <li>
                <p><strong><%= topic.author %>:</strong> <%= topic.title %></p>
                <!-- Додайте інші відомості про тему, наприклад, дату створення і т. д. -->
                <a href="/users/forum/topic/<%= topic.id %>">Переглянути тему</a>
            </li>
        <% }); %>
    </ul>

    <!-- Форма для створення нової теми -->
    <form class="topic-form" action="/users/forum/create-topic" method="post">
        <label for="title">Назва теми:</label>
        <input type="text" id="title" name="title" required>
        <button type="submit">Створити тему</button>
    </form>


    <button class="logout-btn" onclick="logout()"><i class="fas fa-sign-out-alt"></i> Logout</button>
    <script type="text/javascript" src="/logout.js"></script>
</div>
</body>
</html>
