<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User List</title>
    <link rel="stylesheet" href="/styles.css" >
</head>
<body>
<div class="window">
    <h1 class="header">Welcome to the Home Page</h1>
    <p>Choose an option:</p>
    <div>
        <a href="/users/register" class="action-link">Register</a>
        <a href="/users/login" class="action-link">Login</a>
    </div>
</div>
</body>
</html>
