body {
    font-family: 'Times New Roman', serif;
    background-color: #282c35;
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
}

.window {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #333;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.registration_container {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #333;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.header {
    border-radius: 10px;
    font-size: 50px;
    color: #1eb1de;
    margin: 5px;
}

p{
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 10px;
    font-size: 25px;
    font-weight: bold ;
    color: #ffffff;
}

.h1.header {
    margin:auto;
    padding: 1em;
    color: #ffffff;
}

label{
    font-size: 20px;
    font-family: 'Times New Roman', serif;
}

.action-link {
    text-decoration: none;
    font-weight: bold ;
    font-size: 18px;
    color: #181818;
    margin: 10px;
    padding: 5px 10px;
    border: 1px solid #1eb1de;
    border-radius: 8px;
    background-color: #1eb1de;
    transition: background-color 0.3s;
}

.action-link:hover {
    background-color: #ffffff;
    color: black;
}

.container, #todo-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.form-container {
    margin: 20px auto;
    width: 300px;
}

.input-field {
    margin: 10px 0;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 8px;
}

.submit-button, .logout-btn {
    font-family: 'Times New Roman', serif;
    font-size: 18px;
    font-weight: bold ;
    text-decoration: none;
    color: #181818;
    margin: 15px;
    padding: 5px 10px;
    border: 1px solid #1eb1de;
    border-radius: 8px;
    background-color: #1eb1de;
    transition: background-color 0.3s;
}

.submit-button:hover, .logout-btn:hover {
    background-color: #ffffff;
    color: black;
}

.error-message {
    color: #ff6347;
    margin-top: 10px;
}

.link_back_to_home {
    text-decoration: none;
    font-weight: bold ;
    color: #ffffff;
    margin: 10px;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

.link_back_to_home:hover {
    color: #1eb1de;
}

.link_login{
    text-decoration: none;
    font-weight: bold ;
    color: #1eb1de;
    margin-left: 5px;
    transition: background-color 0.3s;
}

.link_login:hover {
    color: white;
}

.success-message{
    font-family: 'Times New Roman', serif;
    font-size: 20px;
    font-weight: normal;
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
}