body {
    font-family: 'Times New Roman', serif;
    background-color: #282c35;
    color: #ceced5;
    margin: 0;
    padding: 0;
    text-align: center;
}

#forum-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

h1 {
    border-radius: 10px;
    font-size: 50px;
    color: #1eb1de;
    margin: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #444;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}

p {
    font-size: 15px;
    flex-grow: 2;
    margin-right: 10px;
    text-align: left;
}

.topic-form {
    margin-top: 20px;
}

.topic-form input {
    width: 60%;
    padding: 8px;
    margin-right: 8px;
}

.submit-button {
    font-family: 'Times New Roman', serif;
    font-size: 18px;
    font-weight: bold ;
    text-decoration: none;
    color: #181818;
    padding: 5px 10px;
    border: 1px solid #181818;
    border-radius: 8px;
    background-color: #1eb1de;
    transition: background-color 0.3s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.submit-button:hover {
    background-color: #ffffff;
    color: black;
}

.logout-btn {
    font-family: 'Times New Roman', serif;
    font-size: 18px;
    font-weight: bold ;
    text-decoration: none;
    color: #181818;
    padding: 5px 10px;
    border: 1px solid #181818;
    border-radius: 8px;
    background-color: #ea3636;
    transition: background-color 0.3s;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.logout-btn:hover {
    background-color: #ceced5;
}

label {
    font-size: 20px;
    font-family: 'Times New Roman', serif;
}

input {
    margin: 10px 0;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

a {
    font-family: 'Times New Roman', serif;
    font-size: 15px;
    color: #ceced5;
}

a:hover {
    color: #1eb1de;
}
